.input {
   padding: 10px;
}
.center {
   text-align: center;
}

.title {
   font-family: Lato, Monospace;
}
/*
body {
   background-color:  #e0e0d1;
}

.bg {
   background-color:  #e0e0d1;
}
*/
.width {
   width: 100px !important;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
