@()

@main("Welcome to Play") {

      <!-- GitHub-corners logo link in top right corner UPDATE WITH LOGO -->
   <body>
      <div class="container">
         <h1 class="center title">Welcome to the Scala Binary Tree</h1>
         <p class="input center">
            <input id="userNum" type="number" placeholder="72">
         </p>

         <p style="text-align:center;">
            <button type="button" onclick="binaryTree.insert()" class="btn btn-success width">Insert</button>
            <button type="button" onclick="binaryTree.search(binaryTree.root,null)" class="btn btn-primary width">Search</button>
            <button type="button" onclick="binaryTree.remove(binaryTree.root,null)" class="btn btn-danger width">Remove</button>
         </p>

         <p id="status" style="text-align:center;">&nbsp;</p>
         <p id="preorderOutput" style="text-align:center;">Preorder:</p>
         <p id="inorderOutput" style="text-align:center;">Inorder:</p>
         <p id="postorderOutput" style="text-align:center;">Postorder</p>
      </div>
   </body>

}
